<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>isola-sample</display-name>
  <filter>
    <display-name>CharacterFilter</display-name>
    <filter-name>CharacterFilter</filter-name>
    <filter-class>isola.CharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CharacterFilter</filter-name>
    <url-pattern>*.json</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>JsonSampleServlet</servlet-name>
    <servlet-class>isola.samples.JsonSampleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>XmlSampleServlet</servlet-name>
    <servlet-class>isola.samples.XmlSampleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TreeLoaderServlet</servlet-name>
    <servlet-class>isola.samples.TreeLoaderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IsolaServlet</servlet-name>
    <servlet-class>isola.IsolaServlet</servlet-class>
    <init-param>
      <param-name>class-prefix</param-name>
      <param-value>isola</param-value>
    </init-param>
    <init-param>
      <param-name>resources-cached</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>resources-cache-age</param-name>
      <param-value>28800</param-value>
    </init-param>
    <init-param>
      <param-name>js-log</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ValidateServlet</servlet-name>
    <servlet-class>isola.samples.ValidateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GuestBookEntryServlet</servlet-name>
    <servlet-class>isola.samples.GuestBookEntryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsolaServlet</servlet-name>
    <url-pattern>/isola/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JsonSampleServlet</servlet-name>
    <url-pattern>/servlet/JsonSampleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XmlSampleServlet</servlet-name>
    <url-pattern>/servlet/XmlSampleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TreeLoaderServlet</servlet-name>
    <url-pattern>/servlet/TreeLoaderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidateServlet</servlet-name>
    <url-pattern>/validateLogin.servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GuestBookEntryServlet</servlet-name>
    <url-pattern>/entry.servlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OutputWriteServlet</display-name>
    <servlet-name>OutputWriteServlet</servlet-name>
    <servlet-class>isola.samples.OutputWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutputWriteServlet</servlet-name>
    <url-pattern>/output.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsonDateSampleServlet</display-name>
    <servlet-name>JsonDateSampleServlet</servlet-name>
    <servlet-class>isola.samples.JsonDateSampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonDateSampleServlet</servlet-name>
    <url-pattern>/dateSample.json</url-pattern>
  </servlet-mapping>
</web-app>